@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100vw;
    background: linear-gradient(90deg, rgba(130,35,238,1) 0%, rgba(82,19,182,1) 35%, rgba(121,25,162,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

li {
    list-style: none;
}

.navbar {
    min-height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    margin: 0 5vw;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
}

.menuBtn {
    width: 2rem;
    height: 2rem;
    animation-name: hamburger;
    animation-iteration-count: infinite;
    animation-delay: 400ms;
    animation-timing-function: ease-in-out;
}

@keyframes hamburger {
    from {
        transform: rotateZ(320deg);
    }

    to {
        transform: rotateZ(22deg);
    }
}

.navbar-branding {
    color: white;
    transform: scale(1.5);
    text-decoration: none;
    font-size: 1.2rem;
}

.brandstyle {
    color: rgb(240, 49, 43);
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: .5rem;
    background-image: linear-gradient(162deg, rgba(11,32,244,1) 0%, rgba(8,178,205,1) 35%, rgba(207,115,45,1) 100%);
    background-size: 0% 0.188rem;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: background-size 300ms ease;
}

.nav-link:hover {
    background-size: 100% 0.188rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.563rem;
    height: 0.188rem;
    margin: 0.313rem auto;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease-in-out;
    color: white;
}

section {
    min-height: 100vh;
}

.hero {
    background: rgb(130,35,238);
    background: linear-gradient(90deg, rgba(130,35,238,1) 0%, rgba(82,19,182,1) 35%, rgba(121,25,162,1) 100%);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: azure;
    width: 50vw;
    margin: 0 5vw;
    padding: 0 1.25rem;
}

.txt {
    font-size: 3rem;
    color: #f9faf8;
}

.para {
    letter-spacing: .1ch;
    text-indent: 1ch;
    color: #e5e7eb;
    font-size: 1.125rem;
}

.btn {
    background-color: #3882f6;
    border: 0;
    border-radius: 0.625rem;
    padding: .5rem;
    color: white;
    margin-top: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.exclamation {
    color: rgb(240, 49, 43);
}

.btn:hover {
    transform: scale(1.1);
}

.right-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: 1.25rem 0;
    
}

.right-hero img {
    border-radius: 50%;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.875rem 0;
}

.project-heading {
    display: grid;
    place-items: center;
    padding: 1.875rem 0;
}

.cards {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    place-items: center;
    gap: 3.75rem;
}

.card {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card__cover {
    width: 100%;
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card__content {
    padding: 1.25rem;
}

.card__content p {
    text-indent: 1ch;
    height: 6.25rem;
    width: 15.625rem;
}

.cardBtn {
    width: 100%;
}

.testimony {
    background-color: grey;
}

.ftr {
    background-color: #262626;
    min-height: 15vh;
}

@media(max-width:48rem) {
    .hamburger{
        display: flex;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(0.5rem) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-0.5rem) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: 0;
        top: -100vh;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100vw;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-menu.active {
        top: 4.375rem;
    }

    .hero {
        flex-direction: column;
        gap: 3.75rem;
    }

    .txt {
        margin-top: 4.375rem;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
}

/* nav-icon-6 */
.nav-icon-6{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-6 span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
  }
  .nav-icon-6 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-6 span:nth-child(2){
    top:13px;
    left: 0px;
  }
  .nav-icon-6 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-6:not(.open):hover span:nth-child(1){
    transform:  scaleY(1.2);
    left: -5px;
  }
  .nav-icon-6:not(.open):hover span:nth-child(2){
    transform: rotate(5deg) scaleY(1.1);
  }
  .nav-icon-6:not(.open):hover span:nth-child(3){
    transform:  scaleY(1.2);
    left: 5px;
  }
  .nav-icon-6.open span:nth-child(1){
    transform: rotate(45deg) scaleX(0.7);
    top: 13PX;
    left: -8px;
  }
  .nav-icon-6.open span:nth-child(2){
    transform: scale(0);
    transition-duration: 50ms
  }
  .nav-icon-6.open span:nth-child(3){
    transform: rotate(-45deg) scaleX(0.7);
    top: 13PX;
    left: 7px;
  }